* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(45deg, #061de3, #e306ca);
  font-family: Helvetica, sans-serif;
  color: rgb(211, 211, 211);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 350px;
  height: 500px;
  perspective: 800px;
}

.card {
  height: 100%;
  width: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.8s ease; /* Added transition property */
}

.front,
.back {
  height: 100%;
  width: 100%;
  border-radius: 2rem;
  box-shadow: 0 0 5px 2px white;
  position: absolute;
  backface-visibility: hidden;
  transition: transform 0.8s ease; /* Added transition property */
}

.front {
  background: #3a3a3a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.front h1 {
  margin: 0;
}

.back {
  background-color: #3a3a3a;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

button {
  margin-top: 10px;
  background: #c0aab8;
  color: black;
  font-weight: 50;
  width: 150px;
  border: 0;
  padding: 5px;
  /* margin-top: -20px; */
  margin-right: 200px;
  border-radius: 4px;
  cursor: pointer;
  display: block;
}



#restartbutton{
  background: #f374c2;
  color: #fff;
  font-weight: 50;
  width: 150px;
  border: 0;
  padding: 5px;
  margin-top: -25px;
  margin-left: 200px;
  border-radius: 4px;
  cursor: pointer;
  display: block;
} 
